div.breadcrumb-container(ng-switch="", on="history.length > front + back")
  i.breadcrumb-help.icon-question-sign
  ul(ng-switch-when="true")
    li(ng-repeat='item in history.slice(0, front) track by $index')
      a.item(href='{{item.link}}')
        span {{ item.name }}
        i(class="icon pedigree-{{ item.direction }}")
    span.middle ...
    li(ng-repeat='item in history.slice(-back) track by $index')
      a.item(href='{{item.link}}')
        span {{ item.name }}
        i(class="icon pedigree-{{ item.direction }}")
  ul(ng-switch-when="false")
    li(ng-repeat='item in history track by $index')
      a.item(href='{{item.link}}')
        span {{ item.name }}
        i(class="icon pedigree-{{ item.direction }}")
